@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* ==========================================================================
Global Styles
========================================================================== */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #0d0d0d;
  overflow-x: hidden;
}

.sep {
  max-width: 80px;
  border: 2px solid #0d0d0d;
  margin-top: 40px;
  margin-bottom: 40px;
}

.light-sep {
  max-width: 80px;
  border: 2px solid #fff;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* ==========================================================================
Typography
========================================================================== */
h1 {
  font-size: 72px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.16em;
}

h2 {  
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 36px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.05em;
}

h3 {
  font-size: 36px;
  color: #fff;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  color: #000;
  font-weight: 400;
}

h5 {
  font-size: 22px;
  color: #000;
  font-weight: 400;
}

h6 {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.05em;
}

p {
  font-family: 'any-average-day', sans-serif;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}

/* ==========================================================================
Buttons Styles
========================================================================== */
.btn-transparent {
  background: transparent;
  border: 2px solid #fff;
  padding: 10px 15px;
  font-size: 14px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active {
  background: #fff;
  color: #0d0d0d;
  text-decoration: none;
}

.btn-light {
  margin: 20px 0px;
  background: #24242a;
  border: 2px solid #24242a;
  padding: 15px 15px;
  font-size: 18px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
  background: #fff;
  color: #0d0d0d;
  text-decoration: none;
}

    /* ==========================================================================
Preloader Style
========================================================================== */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background-image: url("../img/background.png");
}
.preloader i {
  color: #fff;
  position: absolute;
  font-size: 50px;
  line-height: 50px;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin-top: -15px;
  margin-left: -15px;
  display: inline-block;
}

    /* ==========================================================================
Navigation Style
========================================================================== */
.navbar-default {
  background-image: url("../img/background.png");
  opacity: 0.6;
  margin-bottom: 0;
  border: none;
}
.navbar-default .navbar-header {
  width: 25%;
  padding-right: 15px;
}
.navbar-default .nav-wrap {
  width: 50%;
}
.navbar-default .nav > li > a {
  font-size: 14px;
  color: #fff;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  padding: 35px 12px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus,
.navbar-default .nav > li > a:active {
  color: #679FE6;
}
.navbar-default .social-media {
  float: right;
  padding: 0 15px;
}
.navbar-default .social-media i {
  font-size: 22px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: transparent;
  color: #327DDC;
}

.top-nav-collapse {
  background-image: url("../img/background.png");
  opacity: 1;
}
.top-nav-collapse .navbar-brand {
  height: auto;
}
.top-nav-collapse .navbar-brand img {
  width: 52px;
  height: 52px;
}

.top-nav-collapse .nav > li > a {
  padding: 30px 12px;
}

    /* ==========================================================================
Welcome Style
========================================================================== */
#welcome {
  padding: 100px 0;
  text-align: center;
}
#welcome h2 {
  text-transform: uppercase;
  color:#000;
}
#welcome h2 span {
  font-weight: 700;
}
#welcome p {
  font-size: 26px;
}
#welcome img {
  margin-top: 40px;
  width: 200px;
  height: 200px;
}

    /* ==========================================================================
Services Style
========================================================================== */
#services {
  background: #24242a;
  padding: 40px 0;
  text-align: center;
}
#services h2 {
  text-transform: uppercase;
  color: #fff;
}
#services p {
  color: #fff;
}
#services .services-box {
  margin-top: 40px;
}
#services .services-box .col-md-4 {
  margin-bottom: 20px;
}
#services .services-box .col-md-4 .media-left,
#services .services-box .col-md-4 .media-right,
#services .services-box .col-md-4 .media-body {
  padding-right: 30px;
  vertical-align: baseline;
}
#services .services-box .col-md-4 .media-left p,
#services .services-box .col-md-4 .media-right p,
#services .services-box .col-md-4 .media-body p {
  text-align: left;
}
#services .services-box .col-md-4 .media-left h3,
#services .services-box .col-md-4 .media-right h3,
#services .services-box .col-md-4 .media-body h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}
#services .services-box .col-md-4 .media-left span,
#services .services-box .col-md-4 .media-right span,
#services .services-box .col-md-4 .media-body span {
  font-size: 36px;
  color: #fff;
}

    /* ==========================================================================
article Style
========================================================================== */
#article {
  padding: 40px 0;
  text-align: center;
}
#article h4 {
  font-family: 'Microsoft JhengHei', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
}
#article p {
  color: #000;
}
#article a{
    display: inline-block;
    border: 2px solid #B3B3B3;
    border-radius: 4px;
    padding: 5px;
}
#article a:hover{
    box-shadow: 0 0 2px 1px rgba(1, 9, 253, 0.8);
}
#article .col-lg-3{
  display: inline-block;
  float: left;
  margin: 10px 0;
}
#article img {
  width: 100%;
  height: 100%;
}


    /* ==========================================================================
Our Team Style
========================================================================== */
#team {
  padding: 40px 0;
  text-align: center;
  background-image: url("../img/background.png"); 
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#team .row{
  margin:0px -10px;
}
#team h2 {
  text-transform: uppercase;
  color: #fff;
}
#team p {
  color: #fff;
}
#team .team {
  margin-top: 40px;
  margin-bottom: 20px;
}
#team .team h4 {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 700;
}
#team .team p {
  color: #a3a3a3;
}
#team .team a {
  color: #0d0d0d;
  font-size: 22px;
  padding-right: 10px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#team .team a:hover,
#team .team a:focus,
#team .team a:active {
  color: #a3a3a3;
}

/* ==========================================================================
Portfolio Style
========================================================================== */
#portfolio {
  padding: 40px 0;
  text-align: center;
}
#portfolio h2 {
  text-transform: uppercase;
}
#portfolio p {
  margin-bottom: 40px;
}
#portfolio .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
#portfolio .container-fluid .col-lg-4 {
  padding-left: 0;
  padding-right: 0;
}
#portfolio .portfolio-box {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 650px;
}
#portfolio .portfolio-box .portfolio-box-caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  background: rgba(13, 13, 13, 0.6);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}
#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
}
#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}
#portfolio .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
#portfolio .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

    /* ==========================================================================
Agar Video Style
========================================================================== */
#agar-video {
  padding: 40px 0;
  text-align: center;
}
#agar-video .col-lg-4 {
  margin-top: 20px;
  margin-bottom: 40px;
}

#agar-video h2 {
  text-transform: uppercase;
}

#agar-video h4 {
  text-transform: uppercase;
}

#agar-video iframe{
  width:350px;
  height:250px;
}

    /* ==========================================================================
Contact Us Style
========================================================================== */
#contact {
  padding: 40px 0;
  text-align: center;
  background-image: url("../img/background1.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#contact h2 {
  text-transform: uppercase;
  color:#000;
}
#contact form {
  margin: 40px 0;
}
#contact .form-group {
  margin-bottom: 35px;
}
#contact .form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 2px solid #24242a;
  color: #0d0d0d;
  min-height: 45px;
}
#contact textarea {
  height: 140px;
  resize: none;
}


    /* ==========================================================================
Footer Map Style
========================================================================== */
footer {
  background-image: url("../img/background.png");
  padding: 10px 0;
  text-align: center;
}
footer .social {
  margin: 10px 0;
}
footer .social a {
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .social a:hover,
footer .social a:focus,
footer .social a:active {
  color: #a3a3a3;
}
footer h6 {
  text-transform: uppercase;
  color: #fff;
}


    /* ==========================================================================
Media Queries Style
========================================================================== */
@media (max-width: 992px) {
  /*-- Navigation --*/
  .navbar-default {
    background-image: url("../img/background.png");
  }
  .navbar-default .navbar-header {
    width: 100%;
    padding-right: 0;
  }
  .navbar-default .navbar-header .navbar-brand {
    height: auto;
  }
  .navbar-default .navbar-header .navbar-brand img {
    width: 52px;
    height: 52px;
  }
  .navbar-default .nav-wrap {
    width: 100%;
  }
  .navbar-default .navbar-toggle {
    padding-top: 25px;
    padding-bottom: 25px;
    border: none;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:active {
    background: none;
  }
  .navbar-default .navbar-left,
  .navbar-default .navbar-right {
    float: none !important;
  }
  .navbar-default .navbar-toggle {
    display: block;
  }
  .navbar-default .navbar-collapse {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-default .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-default .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-default .navbar-nav > li {
    float: none;
  }
  .navbar-default .collapse.in {
    display: block !important;
  }
  
  /*-- Sliders --*/
  #owl-hero h1 {
    font-size: 42px;
  }
  #owl-hero h6 {
    font-size: 16px;
  }
  #owl-hero .btn {
    margin-top: 20px;
  }
  #owl-hero .owl-buttons {
    display: none;
  }
  
  #agar-video iframe{
  width:90%;
  }

  /*-- Services --*/
  #services h3 {
    font-size: 22px;
  }

  /*-- section styles --*/
  section h2 {
    font-size: 32px;
  }

  #testimonials h5 {
    font-size: 18px;
  }
}
